div {
  transition: all 0.15s ease;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #F2F2F2;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 45pt;
}

.center {
  text-align: center;
  height: 120%;
  padding-left: 5%;
  padding-right: 5%;
}

.main-div {
  text-align: center;
}

#main-div-1 {
  display: inline-block;
}

#main-div-2 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.button {
  text-align: center;
  color: #F2F2F2;
  background: #006494;
  display: inline-block;
  font-size: 30pt;
  font-weight: 700;
  padding: 20px 25px;
  border-radius: 10px;
}

a:link {
  text-decoration: none;
}

@media only screen and (min-width: 750px) {
  h1 {
    font-size: 33pt;
  }
  #main-div-1 {
    width: 700px;
  }
  #main-div-2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .button {
    font-size: 20pt;
    padding: 15px 20px;
    border-radius: 10px;
    background: #F2F2F2;
    border-style: solid;
    border-width: 3px;
    border-color: #006494;
    color: #006494;
  }
  .button:hover {
    background: #006494;
    color: #F2F2F2;
  }
}
