$display-font: 'Playfair Display', serif
$body-font: 'Lato', sans-serif

$c-red: #B04B2A
$c-light: white
$c-dark: #000000

=padding-hz($x)
    padding-left: $x
    padding-right: $x
    
=margin-hz($x)
    margin-left: $x
    margin-right: $x

body
    font-family: $body-font

h1 
    font-family: $display-font
    font-size: 33pt
    
.center
    text-align: center
    height: 120%
    +padding-hz(20%)
    
.main-div
    text-align: left
    padding-left: 3%
    width: 80%
    
#main-div-1
    border-left: solid $c-dark 1px

    
#main-div-2
    margin-top: 6%

.button
    text-align: center
    font-size: 20pt
    color: $c-light
    background: $c-red 
    padding: 15px 20px
    border-radius: 10px

#button-1
    width: 20%
    display: inline
    font-weight: 700
    
a:link
    text-decoration: none