//$display-font: 'Playfair Display', serif
$display-font: 'ltc-bodoni-175', serif
$body-font: 'Lato', sans-serif

$c-red: #D34E24
$c-light: white
$c-dark: #262626
$c-lightblue: #4392F1
$c-darkblue: #006494

=padding-hz($x)
    padding-left: $x
    padding-right: $x
    
=margin-hz($x)
    margin-left: $x
    margin-right: $x
    
=transform($scale)
    -webkit-transform: scale($scale)
    -ms-transform: scale($scale)
    transform: scale($scale)

div
    transition: all 0.3s ease

body
    font-family: $body-font
    background-color: $c-light

h1 
    font-family: $display-font
    font-size: 25pt
    
.center
    text-align: center
    height: 120%
    +padding-hz(20%)
    
.main-div
    text-align: left
    
#main-div-1
    
#main-div-2
    margin-top: 10px

.button
    text-align: center
    color: $c-light
    background: $c-red
    display: inline-block
    font-size: 15pt
    padding: 10px 17px
    border-radius: 7px
    

.button:hover
    +transform(1.05)
    
a:link
    text-decoration: none
    
    
@media only screen and (min-width: 1100px)
    .main-div
        width: 700px
        
@media only screen and (min-width: 990px)
    h1
        font-size: 33pt
    #main-div-2
        margin-top: 30px 
        
    .button
        font-size: 20pt
        padding: 15px 20px
        border-radius: 10px
        
